body {
  position: relative;
  height: 100%;
  width: 100%;
}

.App {
  position: relative;
  height: 100%;
  width: 100%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex: 1 1 auto;
  position: relative;
  width: 100%;
  height: 100%;
}

.sidebar-container-wrapper {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 auto;
  width: 28%;
}

.article-container-wrapper {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 auto;
  width: 70%;
}


.article-item-wrapper {
  display: block;
  position: relative;
  margin: 24px 6px;
  width: 100%;
  height: auto;
  /* box-shadow: 0 6px 15px rgba(36,37,38,.08); */
  border-bottom: solid 1px #d4cfcf;

}

.article-item-container {
  position: relative;
  padding: 20px 8px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  height: auto;
}

.article-item-img-section {
  width: 200px;
  height: 150px;
  display: flex;
  position: relative;
  flex: 1 1 auto;

}

.article-item-img {
  width: auto;
  height: 100%;
  position: relative;

}

.article-item-all-text {
  width: 60%;
  display: flex;
  position: relative;
  flex: 1 1 auto;
  flex-flow: column nowrap;
}
