
* {
  font-family: "SF Pro";
}

body {
  position: relative;
  height: 100%;
  width: 100%;
}

.App {
  position: relative;
  height: 100%;
  width: 94vw;
  margin: 12px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bookmark-item-title, .article-item-title, .article-item-abstract, .viewed-item {
  font-family: "Lora";
}

.article-item-section, .bookmark-item-section, .article-item-date, .bookmark-item-date, .list-title, .sidebar-header, .nav__list-item__link {
  font-family: "Noto Sans";
}

.list-title {
  padding-bottom: -12px;
  letter-spacing: 1px;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 24px;


  color: rgba(51,51,51,.5);
  font-weight: 300;
  text-transform: uppercase;
  border: 1px solid #999;
  letter-spacing: 1px;
  box-sizing: content-box;
  width: fit-content;
  padding: 6px;


}

.article-item-date {
  font-size: 12px;
}

.page-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex: 1 1 auto;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 12px;
}

.sidebar-container-wrapper {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 auto;
  width: calc(20% - 48px);
  position: relative;
  /* margin: 0px 12px;
  padding: 0px 12px; */
  align-content: center;
}

.bookmark-container, .viewed-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;


}

.bookmark-list {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  padding: 0px 12px;
  align-self: center;
  align-items: center;
  justify-content: center;
  align-content: center;

}

.bookmark-item-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  margin: 9px 0px;
  padding: 6px 0px;
  border-bottom: #e2e2e2 solid 1px;
  align-items: center;
}


.bookmark-item-section, .bookmark-item-title, .bookmark-item-date, .bookmark-img, .bookmark-img-section  {
  width: 100%;
  position: relative;
  margin: 3px 0px;
}


.bookmark-item-date {
  line-height: 12px;
  letter-spacing: 1px;
  font-size: 12px;
  color: #999;
}

.bookmark-item-top {
  display: flex;
  justify-content: space-between;
  position:relative;
  width: 100%;
  flex: 1 1 auto;

}

.bookmark-item-section {
  padding: 3px 8px;
  color: rgba(51,51,51,.5);
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #999;
  letter-spacing: 1px;
  box-sizing: content-box;
  width: fit-content;
  font-size: 10px;
  line-height: 12px;
  display: inline-flex;

}

div.bookmark-item-wrapper:hover .bookmark-item-top .bookmark-item-button button {
  display: inline-flex;
}

.bookmark-item-button button {
  display: none;
  border-color: none;
  border-style: none;
  border-width: 0px !important;
  background-color: none;
}

.bookmark-item-title {
  align-content: flex-end;
}


.bookmark-item-title {
  font-size: 14px;
  margin: 8px 0px;
  height: 100%;
  /* max-height: 78px; */
  line-height: 18px;
  font-weight: 500;
}

div.bookmark-item-title:hover, div.article-item-title:hover {
  color: #617fde;
}

ol.viewed-list-ol {
  display: flex !important;
  flex-flow: column wrap;
  list-style-type: decimal;
  margin-block-start: 12px !important;
  margin-block-end: 0px !important;
  padding-inline-start: 12px !important;
}

.viewed-item-wrapper {
  border-bottom: 1px solid;
  padding: 16px 0px;

}

li.viewed-item {
  font-size: 14px;
  line-height: 18px;

}





.article-container-wrapper {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 auto;
  width: calc(78% - 24px);
  margin: 0px 12px;
  position: relative;
  padding: 0px 12px;
  /* width: 68%;
  margin: 0px 12px;
  padding: 2px 8px; */
  /* margin-left: 0px 20px; */



  /* display: flex;
  flex-flow: column wrap;
  flex: 1 1 auto; */
  width: calc(78% - 24px);
  margin: 0px 12px;
  position: relative;
  padding: 0px 12px;
}

.article-list {
  width: 100%;
}


.article-item-wrapper {
  margin: 12px 6px 24px 6px;
  width: 100%;
  height: auto;
  border-bottom: solid 1px #eeecec;
  /* display: flex;
  justify-content: center; */
  vertical-align: baseline;
  text-size-adjust: 100%;
  font-stretch: 100%;
  display: block;
  box-shadow: 0 8px 40px -20px rgba(0,0,0,.2);
  box-sizing: border-box;


}

.article-item-container {
  /* position: relative;
  padding: 20px 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  max-width: 840px;
  height: auto;
  align-self: flex-start;
  vertical-align: baseline; */

  position: relative;
  padding: 20px 8px;
  width: 100%;
  display: flex;

  align-self: flex-start;
  vertical-align: baseline;
}

.article-item-content {
  display: flex;
  width: 100%;
  /* flex: 1 1 auto; */
  justify-content: space-around;
}

.article-item-img-section {

  max-width: 300px;
    max-height: 240px;
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    flex: 1 1 auto;
    padding: 0px 12px;

}

.article-item-img {
  /* width: 100%;
  height: 100%;
  position: relative;
  justify-content: center; */

  width: 100%;
  height: 100%;
  position: relative;
    justify-content: center;
}

.article-item-all-text {

    display: flex;
    flex-flow: column wrap;
    align-self: space-between;
    position: relative;
    /* flex-basis: 50%;
    flex-flow: column nowrap; */
    margin: 0px 2px;
    padding: 0px 12px;
    justify-content: space-around;
    text-size-adjust: 100%;
    flex: 1 1 60%;
    /* max-width: 300px; */
    /* max-height: 240px; */
    height: 100%;
    width: 100%;
}

.article-item-section {
  /* margin-bottom: 12px; */
  padding: 3px 8px;
  color: rgba(51,51,51,.5);
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #999;
  letter-spacing: 1px;
  box-sizing: content-box;
  width: fit-content;
  font-size: 11px;
  line-height: 13px;
  display: inline-flex;
}

.article-item-title {
  font-size: 20px;
  /* margin: 3px 0px; */
  line-height: 24px;
  max-width: 470px;
  font-family: "Lora";
}

.article-item-abstract {
  /* font-size: 18px;
  line-height: 24px;
  height: 100%;
  width: 100%;
  text-rendering: optimizeLegibility;
  transform: translateY(1.52px);
  text-overflow: ellipsis;
  position: relative; */
  /* box-sizing: border-box; */

  font-size: 14px;
  line-height: 18px;
  /* height: 100%;
  width: 100%; */
  text-rendering: optimizeLegibility;
  transform: translateY(1.52px);
  text-overflow: ellipsis;
  position: relative;
  font-family: "Lora";

}

.article-item-bottom {
  display: inline-flex;
  justify-content: space-between;
  padding: 3px;
  height: 27px;
}

.article-item-date {
  /* float: left; */
}

/* .article-item-buttons {
  float: right;
  font-size: 14px;
  line-height: 16px;
  display: none;
} */

div.article-item-wrapper:hover .article-item-container .article-item-all-text .article-item-bottom .article-item-buttons button.bookmark-feed-item-button i.bookmark_border {
  display: inline-flex !important;
}
/*
i.bookmark_border {
  display: none;
} */

.article-item-buttons {
  float: right;
  font-size: 14px;
  line-height: 16px;
}

button.bookmark-feed-item-button i.bookmark_border {
  display: none;
}


button.bookmark-feed-item-button i.bookmark {
  display: inline-flex !important;
}


i.bookmark, i.bookmark_border {
  color: #788ced;
}

.bookmark-feed-item-button {
  border: none;
}

.sidebar-header {
  font-size: 24px;
  line-height: 30px;
}

ul.nav__list {
  list-style: none;
  flex-flow: row nowrap;
  margin: 0px !important;
  margin-block-end: 0px !important;
  margin-block-start: 0px !important;
  padding-inline-start: 0px !important;
  border-bottom: lightgrey 1px solid;
  display: flex;
  justify-content: stretch

}

li {
  padding: 12px 18px;
  text-align: left;
  length: 80px;
}

li.nav__list-item--active a.nav__list-item__link:visited, li.nav__list-item, li.nav__list-item--active, .post-item-metadata {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Helvetica","Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}


li.nav__list-item {
  background-color: white;
  color: #72c9b9 !important;
}

li.nav__list-item--active {
  /* background-color: #72c9b9; */
    background-color: #5474db;
  text-decoration: none;
}

 li.nav__list-item--active a.nav__list-item__link:visited {
  /* background-color: #72c9b9; */
  background-color: #5474db;
  color: white !important;
  font-size: 16px;
  width: 60px;

}

a {
  text-decoration: none !important;
}

li.nav__list-item a.nav__list-item__link:visited {
  background-color: white;
  /* color: #72c9b9; */
  color: #5474db;
}

.navIcon {
  position: relative;
}

.nav__list-item__link {
  /* color: #72c9b9 !important; */
  color: #5474db !important;
}
