
/* quick color ref:  */



#teal {
  color: #71d1dc;
}
#coral {
  color: #fe6774;
}
#yellow {
  color: #ffe697;
}

#light-blue {
  color: #62aaff;
}

/* light periwinkle blue => indigo */

#indigo .light-medium {
  color: #5474db
}

#indigo .medium {
  color: #2c54d3
}

#indigo .light {
  color: #617fde;
}


#indigo {
  color:
}

#indigio .charcoal {
  color: #272b35;
}




#navy .dark {
   color: #061041;
}

#navy .alt {
  color: #081352'
}

#navy .darker {
  color: #081452;
}

#navy .medium {
  color: #202b67;
}

#navy .light {
  color: #7184eb;
}

#green .darker {
  color: #5ba497;
}

#green .medium {
  color: #72c9b9;
}

#green .light {
  color: #87d1c3;
}

/* GREYS */

#grey inturn.light {
  color: #a7b8ca;
}

#grey inturn.medium-dark {
  color: #43566a;
}

#grey inturn.light-medium {
  color: #a1a9b3;
}

#grey ken.medium-light {
  color: #83869f;
}

#grey ken.medium-dark {
  color: #40445e;
}


#grey .medium {
  color: #43566a;
}
