
/* quick color ref:  */



#teal {
  color: #71d1dc;
}
#coral {
  color: #fe6774;
}
#yellow {
  color: #ffe697;
}





#navy .dark {
   color: #061041;
}

#navy .alt {
  color: #081352'
}

#navy .darker {
  color: #081452;
}

#navy .medium {
  color: #202b67;
}

#navy .light {
  color: #7184eb;
}

#green .darker {
  color: #5ba497;
}

#green .medium {
  color: #72c9b9;
}

#green .light {
  color: #87d1c3;
}
